/.idea/*
/batch/*
!/batch/.*
/creds/*
!/creds/.*
/docsSource/*
/download/*
!/download/.*
/hosts/*
!/hosts/.*
!/globalconsole/__pycache__/.*
/logs/*
!/logs/.*
/spool/*
!/spool/.*
/upload/*
!/upload/.*
/vars/*
!/vars/.*
/venv/*

